BOT_TOKEN=
BOT_MODE=polling
LOG_LEVEL=debug
USE_DEBUG=true
BOT_WEBHOOK=https://www.example.com/webhook
# openssl rand --hex 32
BOT_WEBHOOK_SECRET=
SERVER_HOST=localhost
SERVER_PORT=3002
# Example: [1213213] or [123123, 435345, 354234]
ADMIN_IDS=
DATABASE_URL=
