# Logs

logs
*.log

# Diagnostic reports (<https://nodejs.org/api/report.html>)

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data

pids
*.pid
*.seed
*.pid.lock

# TypeScript cache

*.tsbuildinfo

# Optional eslint cache

.eslintcache

# Optional stylelint cache

.stylelintcache

# Optional REPL history

.node_repl_history

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Other
.idea/
*.DS_Store
